# Files
.ReAuth.cfg
crafttweaker.log
BotaniaVars.dat
config.json
manifest.json
options.txt
servers.dat
patchouli_data.json
usercache.json
usernamecache.json

# Folders
logs/
crash-reports/
saves/
journeymap/
.mixin.out/
astralsorcery/
natives/
backups/
config/brandon3055/ResourceCache/
screenshots/
resourcepacks/